In [16]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [17]:
df=pd.read_csv("train.csv")
df=df.fillna(method='ffill')
df1=pd.read_csv("test.csv")
df1=df1.fillna(method='ffill')

In [18]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [19]:
df1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Gar2,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Gar2,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,MnPrv,Gar2,0,1,2010,WD,Normal

In [20]:
set(df.BsmtFinType2)

{'ALQ', 'BLQ', 'GLQ', 'LwQ', 'Rec', 'Unf'}

In [21]:
new_df=df.select_dtypes(include=['object'])
col=new_df.columns

In [22]:
def convert_to_num(df,df1,X):
  for x in X :
     x1=set(df[x])
     x1=list(x1)
     j=1
     for i in x1:
        df=df.replace(i,j)
        df1=df1.replace(i,j)
        j=j+1
  return df,df1

In [23]:
df,df1=convert_to_num(df,df1,col)

In [24]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,1,65.0,8450,17,1.0,1,1,1,...,0,1,1,1,0,17,2008,6,5,208500
1,17,20,1,80.0,9600,17,1.0,1,1,1,...,0,1,1,1,0,1,2007,6,5,181500
2,1,60,1,68.0,11250,17,1.0,1,1,1,...,0,1,1,1,0,6,2008,6,5,223500
3,1,70,1,60.0,9550,17,1.0,1,1,1,...,0,1,1,1,0,17,2006,6,2,140000
4,1,60,1,84.0,14260,17,1.0,1,1,1,...,0,1,1,1,0,14,2008,6,5,250000

In [25]:
df1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,1,80.0,11622,17,1.0,1,1,1,...,120,0,1,4,1,0,1,2010,6,5
1,1462,20,1,81.0,14267,17,1.0,1,1,1,...,0,0,1,4,4,12500,1,2010,6,5
2,1463,60,1,74.0,13830,17,1.0,1,1,1,...,0,0,1,4,4,0,1,2010,6,5
3,1464,60,1,78.0,9978,17,1.0,1,1,1,...,0,0,1,4,4,0,1,2010,6,5
4,1465,120,1,43.0,5005,17,1.0,1,1,1,...,144,0,1,4,4,0,1,2010,6,5

In [26]:
df=df.sample(frac=1)
col=df.columns
train=df[col[1:len(col)-1]]

In [27]:
labels=df[col[-1]]

In [28]:
col=df1.columns
test=df1[col[1:]]

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(train)
train=transformer.transform(train)
transformer1 = Normalizer().fit(test)
test=transformer1.transform(test)

In [30]:
reg = LinearRegression().fit(train,labels)

In [31]:
pre=reg.predict(test)
pre

array([ 167904.50833094,  200951.05313806,  203962.25639315, ...,
        201791.68280619,  136408.38038038,  242503.44401644])

In [32]:
df1=pd.read_csv('sample_submission.csv')

In [33]:
df1.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [34]:
df1.SalePrice=pre

In [35]:
df1.head()

     Id      SalePrice
0  1461  167904.508331
1  1462  200951.053138
2  1463  203962.256393
3  1464  191878.867351
4  1465  201345.425791

In [36]:
df1.to_csv('out.csv',index=False)